@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* base color */
    --white100-color: #ffffff;
    --white200-color: #fafafa;
    --grey100-color: #d9d9d9;
    --grey200-color: #a9a9a9;
    --black100-color: #323438;
    --black900-color: #000000;
    --blueSky100-color: #97daff;
    --blueSky200-color: #8ad8ff;
    --blueSky300-color: #60c8ff;
    --blueSky400-color: #48bdff;
    --blueSky500-color: #3eb0fd;
    --blueSky600-color: #3ba1ee;
    --cyan100-color: #ace9e9;
    --cyan200-color: #73dadc;
    --cyan300-color: #2dcbd0;
    --cyan400-color: #00c0c8;
    --cyan500-color: #00b5c2;
    --cyan600-color: #00a5b0;

    /* grey200 color opacity */
    --grey200-10-color: #a9a9a91a;
    --grey200-20-color: #a9a9a933;
    --grey200-40-color: #a9a9a966;
    --grey200-60-color: #a9a9a999;
    --grey200-80-color: #a9a9a9cc;
    --grey200-90-color: #a9a9a9e6;
    /* black100 color opacity */
    --black100-10-color: #3234381a;
    --black100-20-color: #32343833;
    --black100-40-color: #32343866;
    --black100-60-color: #32343899;
    --black100-80-color: #323438cc;
    --black100-90-color: #323438e6;
    /* cyan300 color opacity */
    --cyan300-10-color: #2dcbd01a;
    --cyan300-20-color: #2dcbd033;
    --cyan300-40-color: #2dcbd066;
    --cyan300-60-color: #2dcbd099;
    --cyan300-80-color: #2dcbd0cc;
    --cyan300-90-color: #2dcbd0e6;

    /* token color */
    --primary-color: var(--white200-color);
    --secondary-color: var(--white100-color);
    --accent-color: var(--cyan300-color);

    --bg-color: var(--white200-color);
    --bg-modal-color: var(--white100-color);

    --text-dark-color: var(--black100-color);
    --text-light-color: var(--white100-color);
    --supscript-color: var(--black100-60-color);
    --placeholder-color: var(--black100-60-color);

    --icon-color: var(--grey200-color);
    --icon-nva-color: var(--black100-20-color);
    --icon-nva-active: var(--white100-color);

    /* styles */
    --chatBox-padding: 24px 48px;
    --chatBox-shadow: 0px 20px 160px var(--grey200-10-color);
    --chatBoxR-border-radius: 40px 40px 10px 40px;
    --chatBoxRmiddle-border-radius: 40px 10px 10px 40px;
    --chatBoxL-border-radius: 10px 40px 40px 40px;
    --chatBoxLmiddle-border-radius: 10px 40px 40px 10px;

    --button-shadow: 0px 20px 70px var(--cyan300-20-color);
    --buttonSquare-border-radius: 40px;
    --buttonCricle-border-radius: 1000px;
}

/* globle */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;

    list-style: none;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.phone {
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    overflow-x: hidden;

    position: relative;
}

.modal {
    background: #FFFFFF;
    box-shadow: 0px 8px 240px rgba(169, 169, 169, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

button {
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* secondary button */
button.secondaryButton {
    background: var(--accent-color);
    box-shadow: var(--button-shadow);
}

button.secondaryButton i {
    font-size: 56px;
    color: var(--text-light-color);
}

/* button border styles */
button.borderCricle {
    border-radius: var(--buttonCricle-border-radius);
}

button.borderSquare {
    border-radius: var(--buttonSquare-border-radius);
}

/* button icon styles */
button i.icon {
    font-size: 56px;
    color: var(--black100-color);
}

button i.setting {
    font-size: 56px;
    color: var(--icon-color);
}

/* text styles */
h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 64px;
    color: var(--text-dark-color);
}

p {
    font-weight: 500;
    font-size: 36px;
    line-height: 190%;
    color: var(--black100-60-color);
}

/* screen 01: Onboarding 1 */
.phone__container {
    width: 100vw;
    height: 100vh;
    padding: 160px 0;
    background: var(--bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.progressBar {
    width: fit-content;
    display: flex;
    gap: 30px;
}

.progressBar li {
    width: 18px;
    height: 18px;
    border-radius: var(--buttonCricle-border-radius);
    background: var(--grey200-color);
}

.progressBar li.active {
    width: 56px;
    background: var(--accent-color);
}

.logo {
    margin-right: -10vw;

    display: flex;
    justify-content: center;
}

.logo img {
    height: 140%;
}

.board {
    width: 100%;
    padding: 0 60px;
    margin-top: 15vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.board__content {
    width: 100vw;
    padding: 120px;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.board__content button {
    margin-top: 60px;
}

.board__background,
.board__background img {
    width: 100%;
}

/* screen 02: Chatting with Diz */
.phone {
}

.topBoard {
    width: 100%;
    height: 380px;
    margin-bottom: -80px;

    display: flex;
    flex-direction: column;

    position: sticky;
    z-index: 100;
}

.topBoard__content {
    width: 100%;
}

.topBoard__buttonContainer {
    display: flex;
    justify-content: space-between;
}

.topBoard__buttonContainer button {
    background: transparent;
}

.topBoard__buttonContainer button i {
    font-size: 60px;
}

.topBoard__buttonContainer__back {
    color: var(--black100-color);
}

.topBoard__buttonContainer__settings {
    color: var(--grey200-color);
}

.topBoard__logo {
    width: fit-content;
    margin: auto;
    margin-top: -60px;
}

.topBoard__logo img {
    width: 200px;
}

.topBoard__background {
    width: 100%;
    height: 300px;
    margin-bottom: -300px;
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;
}

.topBoard__background img {
    width: 100%;
}

/* chatBox */
.phoneView {
    width: 100%;
    height: calc(100vh - 300px);
    margin-top: -300px;
    padding-top: 350px;
    overflow-x: hidden;
}

.chatBox {
    width: 100%;
    padding: 15px 22px 0px 25px;

    display: flex;
    flex-direction: column;
}

.chatBoxUserList,
.chatBoxDizyList {
    width: 100%;
    margin: 50px 0px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.chatBoxDizyList__message,
.chatBoxUserList__message {
    width: fit-content;
    max-width: 500px;
    padding: var(--chatBox-padding);
    background: var(--accent-color);
    box-shadow: var(--chatBox-shadow);
    border-radius: var(--chatBoxRmiddle-border-radius);
    overflow-wrap: break-word;

    color: var(--text-light-color);
}

.chatBoxUserList__message:first-child {
    border-radius: var(--chatBoxR-border-radius);
}

.chatBoxDizyList {
    align-items: flex-start;
}

.chatBoxDizyList__message {
    background: var(--secondary-color);
    border-radius: var(--chatBoxLmiddle-border-radius);

    color: var(--text-dark-color);
}

.chatBoxDizyList__message:first-child {
    border-radius: var(--chatBoxL-border-radius);
}

/* sendBox */
.sendBox {
    width: 100%;
    padding: 30px 22px 0px 25px;
    display: flex;
    gap: 30px;
}

.sendBox__sendButton i {
    margin-right: 7px;
}

#inputSendBox {
    padding: 30px 0px 31px 40px;
    border-radius: var(--buttonSquare-border-radius);
    flex: 1;
}