@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* base color */
    --light-color: #FFFFFF;
    --dark-color: #242B33;
    --darkBlue900-color: #002A48;
    --darkBlue700-color: #003459;
    --lightBlue700-color: #00A7E7;
    --gray900-color: #242B33;
    --gray600-color: #99A2A5;
    --brownYellow400-color: #FCEED5;
    --brownYellow600-color: #F7DBA7;

    /* token color */
    --primary-color: var(--brownYellow400-color);
    --secondary-color: var(--brownYellow600-color);
    --accent-color: var(--darkBlue900-color);

    --title-color: var(--darkBlue900-color);
    --supscript-color: var(--gray600-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Be Vietnam Pro', sans-serif;
    text-decoration: none;
    color: var(--title-color);

    list-style: none;
}
body {
    overflow-x: hidden;
}

/* font size */
h1 {
    font-size: 88px;
    font-weight: 800;
}
h2 {
    font-size: 48px;
    font-weight: 600;
}
h4 {
    font-size: 42px;
    font-weight: 400;
}
h5 {
    font-size: 32px;
    font-weight: 500;
}
p {
    font-size: 28px;
    font-weight: 500;
}

/* Goble style */
button {
    width: 400px;
    height: 120px;
    padding: 12px 38px;
    background: transparent;
    border: 3px solid var(--darkBlue700-color);
    border-radius: 100px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
button i {
    font-size: 45px;
}

.container {
    width: 100vw;
    max-width: calc(880px + 12vw);
    
    display: flex;
    flex-direction: column;
}
/* header */
.header {
    padding: 5rem calc(16px + 3vw) 16px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__statusBar {
    width: 100%;
    padding: 16px 28px 12px;
    margin-top: -56px;
    background: #F7DBA760;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: sticky;
    top: 0px;
    z-index: 100;
}
.header__statusBar__leftBar {
    font-size: 24px;
    font-weight: 500;
}
.header__statusBar__rightBar {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__statusBar img {
    height: 16px;
    object-fit: contain;
}
.header__statusBar__notch {
    width: calc(260px + 10vw);
    height: 50px;
    background: #000;
    border-radius: 0 0 30px 30px;

    position: absolute;
    top: 0;
    left: calc(50% - 130px - 5vw);
}

.header__menu{
    display: flex;
    justify-content: space-between;
}
.header__menu i,
.header__menu img {
    height: 70px;
    object-fit: contain;

    font-size: 36px;

    display: flex;
    align-items: center;
}

/* body */
.section__container {
    height: 100%;
    display: flex;
    flex-direction: column;

    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: -1;
}

/* section1 */
.section1__background {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: -60px;
    left: 0px;
    z-index: -1;
}
.section1__background .shape1,
.section1__background .shape2,
.section1__background .shape3,
.section1__background .shape4 
{
    width: 1400px;
    aspect-ratio: 1/1;
    background: var(--secondary-color);
    border-radius: 100px;

    position: absolute;
    z-index: -2;
}
.section1__background .shapeD1,
.section1__background .shapeD2{
    width: 100px;
    aspect-ratio: 1/1;
    background: var(--darkBlue900-color);
    border-radius: 100px;

    position: absolute;
    z-index: -1;
}

.section1__background .shape1 {
    top: -1300px;
    left: -500px;
    z-index: -1;
    rotate: 20deg; 
}
.section1__background .shapeD1 {
    width: 25px;
    aspect-ratio: 1/1;
    background: var(--darkBlue900-color);
    border-radius: 30%;
    rotate: -20deg;

    top: 360px;
    right: calc(390px - 5vw);
}
.section1__background .shape2  {
    width: 30px;
    aspect-ratio: 1/1;
    background: var(--brownYellow600-color);
    border-radius: 30%;
    rotate: -10deg;

    top: 350px;
    right: calc(380px - 5vw);
}
.section1__background .shape3 {
    width: 40px;
    aspect-ratio: 1/1;
    background: var(--brownYellow600-color);
    border-radius: 30%;
    rotate: -20deg;

    top: 280px;
    right: calc(220px - 4vw);
}
.section1__background .shape4 {
    rotate: -56deg;
    bottom: -920px;
    left: 120px;
    z-index: 1;
}
.section1__background .shapeD2 {
    width: 1400px;
    bottom: -920px;
    left: 20px;
    rotate: -80deg;

}
/*  */
.section1 {
    padding-top: 128px;
    padding: 0 calc(16px + 3vw);
    background: var(--primary-color);
    border-radius: 0 0 32px 32px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    position: relative;
    z-index: -1;
}

.section1__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.section1__button {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
.section1__buttonR,
.section1__buttonR h5 {
    background: var(--darkBlue700-color);
    letter-spacing: 2px;
    color: var(--light-color);
}
.section1__imgInner,
.section1__imgInner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* section2 */
.section2 {
    padding: 60px calc(16px + 3vw);

    display: flex;
    flex-direction: column;
    gap: 32px;
}
.section2__title h4{
    font-size: 48px;
    font-weight: 800;
}

.section2__list {
    height: fit-content;
    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;

}
.section2__list__item {
    width: 430px;
    height: 680px;
    padding: 16px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 4px 28px -2px #00000014;

}
.section2__list__item img {
    width: 100%;
    border-radius: 16px;
    object-fit: contain;
}
.section2__list .item__content {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section2__list .item__content h5 {
    font-weight: 700;
    color: var(--dark-color);
}
.section2 .item__content__gender,
.item__content__age {
    color: var(--supscript-color);
    font-size: 24px;

}
.section2__list__item b {
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
}
button.section2__list__more {
    width: 100%;
    margin-top: 16px;

    display: flex;
    justify-content: center;
}

/* section3 */
.section3 {
    width: 95%;
    height: 1500px;
    padding: 160px calc(16px + 3vw) 0;
    background: var(--darkBlue700-color);
    border-radius: 32px;
    overflow: hidden;

    text-align: center;

    display: flex;
    flex-direction: column;

    position: relative;
    z-index: -2;
}

.section3__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.section3__content__title h4 {
    margin: 16px 0;
    font-size: 56px;
    font-weight: 400;
}

.section3__button {
    margin: 64px 0 ;
    display: flex;
    justify-content: space-between;
}

.section3__imgInner{
    position: absolute;
    bottom: 0;
}
.section3__imgInner img {
    width: 120%;
    margin-left: -30px;
    object-fit: cover;
}
/* section3 shape */
.section3__background .shape1 {
    width: 1200px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background: var(--brownYellow400-color);

    position: absolute;
    top: -380px;
    left: -180px;
    z-index: -1;
    rotate: 15deg;
}
.section3__background .shape2 {
    width: 1500px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background: var(--darkBlue900-color);

    position: absolute;
    bottom: -1200px;
    right: -200px;
    z-index: -1;
    rotate: 28deg;
}