@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@keyframes header {
    form {
        height: 100px;
    }
    to {
        height: 30px;
    }
}

:root {
    /* variable */
    --color-status: var(--deadline-status);

    /* color */
    --primary-color: #fff;
    --secondary-color: #263238;
    --secondary-color-light: #E1F5FE;
    --accent-color: #FFC107;

    /* status */
    --pass-status: #5eff63;
    --deadline-status: #FFC107;
    --kick-status: #ff9189;

    /* color lab01 */
    --primary-lab01-color: #00CCF9;
    --secondary-lab01-color: #000000;
    --accent-lab01-color: #E3C000;
    --linearPrimary-lab01-color: linear-gradient(180deg, #C7F4F7 0.03%, #D1F4F6 30.21%, #E5F4F5 85.42%, #37D6F8 96.5%, #00CCF9 100%);

    --primary02-lab01-color: #31AA5219;
    --linearPrimary02-lab01-color: linear-gradient(180deg, #FBCB00 100%, #BF9A00 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color: var(--secondary-color)
}

.container {
    background: var(--pass-status);
}

/* HEADER  ---------------------------------- */
header {
    height: 100px;
    padding: 0px 56px;
    margin-bottom: 24px;
    margin-right: -15px;
    background: var(--primary-color);

    position: sticky;
    top: 0px;
    z-index: 100;

    transition: 0.3s ease;
    animation: header 1s ease-out forwards;
}

.header {
    height: 100%;
    background: var(--primary-color); 

    display: flex;
    align-items: center;
}

.underline {
    border: 0.5px solid var(--secondary-color);
}

/* header - title */
.header__title {
    width: 350px;

    font-size: 20px;
    letter-spacing: 4px;

    transition: 0.2s ease;
}

/* header - menu */
.header__menu {
    height: 100%;
    margin-left: 30vw;

    flex: 1;
    display: flex;
    align-items: start;
}

.header__menu a {
    height: 100%;
    border-bottom: 1px solid var(--primary-color);

    font-size: 16px;
    letter-spacing: 10px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.3s ease;
}

a.header__menu__checked {
    color: var(--accent-color);
}

/* header - HOVER */
header:hover {
    height: 100px;
    transition: height 0.3s ease-out;
}

header:hover 
.header__title{
    font-size: 32px;
}

header:hover 
.header__menu a {
    height: 75px;
    padding-top: 25px;
}

.header__menu:hover .header__menu__checked {
    color: var(--secondary-color);
}

.header__menu a:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
    transition: 0.05s ease;
}

/* SECTION1 ---------------------------------- */
.section1 {
    padding: 0px 56px;
    padding-bottom: 8px;
}

/* 
.section1__leftBar {
    width: 280px;
    height: 100%;
    background: var(--accent-color);
    overflow-y: scroll;
    scrollbar-width:thin;
    scrollbar-gutter: none;

    display: flex;
    flex-direction: column;
    gap: 400px;

} */

/* mid bar */
.section1__midbar {
    width: 100%;
    margin: 0px 56px;
}

.section1__midBar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 48px;

}

.section1__midBar__list__item {
    width: 360px;
    height: 640px;
}

/* FirstScreen */
.FirstScreen {
    background: var(--primary-lab01-color);
}

.FirstScreen .section1__midBar__list__item__imgInner {
    width: 140px;
    height: 140px;
    border: 15px solid var(--secondary-lab01-color);
    border-radius: 50%;
}
