@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@keyframes header {
    to {
        height: 30px;
    }
}

:root {
    /* variable */
    --color-status: var(--deadline-status);

    /* color */
    --primary-color: #fff;
    --secondary-color: #263238;
    --secondary-color-light: #E1F5FE;
    --accent-color: #FFC107;

    /* status */
    --pass-status: #5eff63;
    --deadline-status: #FFC107;
    --kick-status: #ff9189;

    /* color lab01 */
    --primary-lab01-color: #00CCF9;
    --secondary-lab01-color: #000000;
    --accent-lab01-color: #E3C000;
    --linearPrimary-lab01-color: linear-gradient(180deg, #C7F4F7 0.03%, #D1F4F6 30.21%, #E5F4F5 85.42%, #37D6F8 96.5%, #00CCF9 100%);

    --primary02-lab01-color: #31AA5219;
    --linearPrimary02-lab01-color: linear-gradient(180deg, #FBCB00 10%, #BF9A00 100%);

    --accent-XMEye-color: #386FFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color: var(--secondary-color)
}

/* HEADER  ---------------------------------- */
header {
    height: 100px;
    width: 100%;
    padding: 0px 56px;
    margin-bottom: 24px;
    margin-right: -15px;
    background: var(--primary-color);

    position: sticky;
    top: 0px;
    z-index: 100;

    animation: header 0.5s ease-out forwards;
    animation-delay: 0.3s;
}

.header {
    height: 100%;
    background: var(--primary-color); 

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underline {
    border: 0.5px solid var(--secondary-color);
}

/* header - title */
.header__title {
    min-width: 350px;

    font-size: 20px;
    font-weight: 800;
    letter-spacing: 4px;

    transition: 0.2s ease;
}

/* header - menu */
.header__menu {
    height: 100%;
    width: 50%;
    min-width: 400px;
    max-width: 800px;

    display: flex;
    align-items: start;
}

.header__menu a {
    height: 100%;
    border-bottom: 1px solid var(--primary-color);

    font-size: 16px;
    letter-spacing: 10px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.header__menu__checked {
    color: var(--accent-color);
}

/* header - HOVER */
.header__menu:hover .header__menu__checked {
    color: var(--secondary-color);
}

.header__menu a:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* NOTIFY */
.Notify {
    width: 200px;
    height: 48px;
    padding: 0px 15px;
    margin-left: 56px;
    margin-bottom: -56px;
    background: var(--deadline-status);
    border: 1px solid var(--primary-color);

    position: sticky;
    top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Notify h1 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    color: var(--primary-color);
}

.Notify:hover {
    background: var(--accent-color);

}
.Notify:hover h1{
    color: var(--secondary-color);
}
/* SECTION1 ---------------------------------- */
.section1 {
    padding: 0px 56px;
    padding-bottom: 8px;

}

/* mid bar */
.section1__midbar {
    width: 100%;
    margin: 0px 56px;
}

.section1__midBar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 48px;

}

.section1__midBar__list__item {
    width: 360px;
    height: 640px;
    padding: 0px 29px;
}

/* FirstScreen */
.FirstScreen {
    background: var(--primary-lab01-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.FirstScreen .section1__midBar__list__item__imgInner {
    width: 140px;
    height: 140px;
    border: 15px solid var(--secondary-lab01-color);
    border-radius: 50%;
}

.FirstScreen .section1__midBar__list__item__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.FirstScreen .item__content__title{
    font-size: 24px;
    font-weight: 800;
}

.FirstScreen .item__content__text {
    font-size: 12px;
    font-weight: 500;
}

.FirstScreen .section1__midBar__list__item__button {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.FirstScreen .item__button {
    padding: 13px 30px;
    background: var(--accent-lab01-color);
    border-radius: 10px;

    font-weight: 800;
    cursor: pointer;
}

/* 1_a */
.Aa {
    background: var(--linearPrimary-lab01-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Aa .section1__midBar__list__item__imgInner {
    width: 140px;
    height: 140px;
    border: 15px solid var(--secondary-lab01-color);
    border-radius: 50%;
}
.Aa .section1__midBar__list__item__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 62px;
}
.Aa .item__content__title{
    font-size: 24px;
    font-weight: 800;
}
.Aa .item__content__text {
    font-size: 12px;
    font-weight: 500;
}
.Aa .section1__midBar__list__item__button {
    width: 100%;

    display: flex;
    justify-content: space-around;
}
.Aa .item__button {
    padding: 13px 30px;
    background: var(--accent-lab01-color);

    font-weight: 800;

    cursor: pointer;
}
.Aa .section1__midBar__list__item__supscript {
    font-size: 20px;
    font-weight: 800;
}

/* 1_b */
.Ab {
    padding: 76px 30px;
    padding-bottom: 0px;
    background: var(--linearPrimary-lab01-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Ab .section1__midBar__list__item__imgInner img {
    width: 140px;
    height: 100%;
    object-fit: fill;
}
.Ab .section1__midBar__list__item__content {
    margin-top: 37px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.Ab .item__content__title{
    margin: 32px;
    font-size: 32px;
    font-weight: 900;
}
.Ab .item__content__text {
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 800;
}
.Ab .section1__midBar__list__item__form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Ab .section1__midBar__list__item__form .form__content {
    height: 45px;
    background: #ddd;

    display: flex;
    justify-content: left;
    align-items: center;
}
.Ab .form__content i {
    font-size: 24px;
    margin: 10px;
}
.Ab .form__content input {
    height: 100%;
    border: none;
    background: none;

    flex: 1;
}
.Ab input:focus {
    outline: none;
}
.Ab .form__content input::placeholder {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--secondary-lab01-color);
}

.Ab .section1__midBar__list__item__button {
    width: 100%;

    display: flex;
    justify-content: space-around;
}
.Ab button.item__button {
    padding: 13px 30px;
    background: var(--accent-lab01-color);
    border: none;

    font-weight: 800;

    cursor: pointer;
}

/* 1_c */
.Ac {
    padding: 70px 30px 0px;
    background: var(--linearPrimary-lab01-color);

    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.Ac .section1__midBar__list__item__content {
    margin-bottom: 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.Ac .section1__midBar__list__item__content h1 {
    font-size: 100px;
    font-weight: 800;
}

.Ac .section1__midBar__list__item__content h2 {
    font-size: 24px;
    font-weight: 800;
}

.Ac .section1__midBar__list__item__content p {
    font-size: 14px;
    font-weight: 600;
}

.Ac form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Ac .getCode {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.Ac input {
    width: 48px;
    height: 48px;
    background: transparent;

    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

input::-webkit-inner-spin-button, .Ac input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.Ac form button {
    padding: 10px;
    background: var(--accent-lab01-color);
    border: none;

    font-size: 12px;
    font-weight: 600;
}

/* 1_d */
.Ad {
    padding: 0px 20px;
    background: var(--primary02-lab01-color);

    display: flex;
    flex-direction: column;
}

.Ad .section1__midBar__list__item__title {
    margin: 50px;
    margin-bottom: 70px;

    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.Ad form {
    width: 100%;
    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Ad form input{
    padding: 15px 20px;
    background: #ddd;
    border: none;
}

.Ad .getPass {
    padding-right: 20px;
    background: #ddd;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.Ad .getPass input {
    flex: 1;
}

.Ad .getPass i {
    font-size: 32px;
    font-weight: 400;
}

.Ad form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-lab01-color);
}

.Ad form button {
    padding: 10px;
    margin-top: 40px;
    background: rgb(185, 28, 28);
    border: none;
    cursor: pointer;


    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

/* supScript */
.supScript {
    margin: 10px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.supScript h1, 
.supScript h2, 
.supScript a {
    font-size: 12px;
    font-weight: 600;
}

.supScript a {
    color: blue;
}

.supScript .supScript__login {
    width: 100%;
    height: 30px;
    margin: 10px 0px;

    display: flex;
    flex-wrap: nowrap;
}

.supScript__login .log {
    height: 30px;
    border-radius: 4px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supScript__login img {
    width: 24px;
    height: 24px;
    object-fit: fill;
}

.supScript__login .Fb {
    background: rgb(15, 15, 158);
}

.supScript__login .Zl {
    margin: 0px -2px;
    background: #169fe3;
}

.supScript__login .Gg {
    border: 1px solid #378af0;
    background: #fff;
}

/* 1_e */
.Ae {
    padding: 0px 20px;
    background: var(--primary02-lab01-color);

    display: flex;
    flex-direction: column;
}

.Ae .section1__midBar__list__item__title {
    margin: 50px;
    margin-bottom: 70px;

    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.Ae form {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Ae form input{
    padding: 15px 20px;
    background: #ddd;
    border: none;
}

.Ae .getPass {
    padding-right: 20px;
    background: #ddd;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.Ae .getPass input {
    flex: 1;
}

.Ae .getPass i {
    font-size: 32px;
    font-weight: 400;
}

form input:focus {
    outline: none;
}

.Ae form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-lab01-color);
}

.Ae form button {
    padding: 10px;
    margin-top: 30px;
    background: rgb(185, 28, 28);
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

/* 2_a */
.Af{
    padding: 0px 20px;
    background: var(--linearPrimary02-lab01-color);

    display: flex;
    flex-direction: column;
}

.Af .section1__midBar__list__item__title{
    margin: 70px 0px 70px 20px;

    font-size: 32px;
    font-weight: 900;
    text-align: left;
}

.Af form {
    width: 100%;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Af form .getInput{
    padding: 0px 20px;
    background: #dddddd50;
    border: 1px solid var(--primary-color);

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.Af form input{
    padding: 20px;
    background: transparent;
    border: none;
    flex: 1;
}

.Af .getPass {
    padding-right: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.Af i {
    font-size: 32px;
    font-weight: 600;
}

form input:focus {
    outline: none;
}

.Af form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-lab01-color);
}

.Af form button {
    padding: 10px;
    margin-top: 50px;
    background-color: var(--secondary-lab01-color);
    border: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.Af .section1__midBar__list__item__create {
    margin: 20px 0px;

    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: var(--secondary-lab01-color);
}

/* XMEye */
.XMEye {
    padding: 30px 27px 34px;
    background: var(--primary-color);
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.XMEye .section1__midBar__list__item__imgInner {
    width: 140px;
    height: 140px;

    display: flex;
    justify-content: center;
    align-self: center;
}

.XMEye form {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.XMEye form .inputBox {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #ccc;


    display: flex;
    flex-wrap: nowrap;
}

/* ICON */
.XMEye form .inputBox__icon {
    width: 30px;
    height: 30px;
    overflow: hidden;

    position: relative;
    z-index: 100;

    display: flex;
}
.XMEye form .inputBox__icon .cricle1 {
    width: 30px;
    height: 30px;
    background: var(--accent-XMEye-color);
    clip-path: circle(25% at 50% 25%);

    position: absolute;
}
.XMEye form .inputBox__icon .cricle11 {
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    clip-path: circle(20% at 50% 25%);

    position: absolute;
}
.XMEye form .inputBox__icon .cricle2 {
    width: 30px;
    height: 30px;
    background: var(--accent-XMEye-color);
    clip-path: circle(50% at 50% 100%);

    position: absolute;
}
.XMEye form .inputBox__icon .cricle21 {
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    clip-path: circle(45% at 50% 100%);

    position: absolute;
}
.XMEye form .inputBox__icon .shape22 {
    width: 30px;
    height: 30px;
    background: var(--accent-XMEye-color);
    clip-path: polygon(0% 94%, 100% 94%, 100% 100%, 0% 100%);

    position: absolute;
    bottom: 0px;
}

/* ICON 2 */
.XMEye form .inputBox__icon {
    width: 30px;
    height: 30px;
    overflow: hidden;

    position: relative;
    z-index: 100;

    display: flex;
}

.XMEye form .inputBox__icon .shape1 {
    width: 30px;
    height: 30px;
    background: var(--accent-XMEye-color);
    clip-path: circle(38% at 50% 38%);

    position: absolute;
}
.XMEye form .inputBox__icon .shape11 {
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    clip-path: circle(30.4% at 50% 38%);

    position: absolute;
}
.XMEye form .inputBox__icon .shape2 {
    width: 30px;
    height: 30px;
    background: var(--accent-XMEye-color);
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0% 100%);

    position: absolute;
}
.XMEye form .inputBox__icon .shape21 {
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    clip-path: polygon(4% 44%, 96% 44%, 96% 96%, 4% 96%);

    position: absolute;
}
.XMEye form .inputBox__icon .shape3 {
    width: 30px;
    height: 30px;
    background: var(--accent-XMEye-color);
    clip-path: polygon(45% 70%, 55% 70%, 55% 90%, 45% 90%);

    position: absolute;
}

.XMEye form .inputBox input {
    height: 100%;
    margin-left: 15px;
    border: none;

    flex: 1;
}

.XMEye form .inputBox input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
}

.XMEye form .inputBox input:focus {
    outline: none;
}

.XMEye form button {
    height: 40px;
    background: var(--accent-XMEye-color);
    border: none;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.XMEye .section1__midBar__list__item__secondary {
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}

.XMEye .section1__midBar__list__item__otherMethods {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.XMEye .pack {
    width: 74px;
    height: 74px;
    background: #3A579C;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.XMEye .pack .packFb {
    width: 45px;
    height: 45px;
    object-fit: cover;
}
