@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@keyframes header {
    to {
        height: 30px;
    }
}

:root {
    /* variable */
    --color-status: var(--deadline-status);

    /* color */
    --primary-color: #fff;
    --secondary-color: #263238;
    --secondary-color-light: #E1F5FE;
    --accent-color: #FFC107;

    /* status */
    --pass-status: #5eff63;
    --deadline-status: #FFC107;
    --kick-status: #ff9189;

    /* color lab01 */
    --primary-lab01-color: #00CCF9;
    --secondary-lab01-color: #000000;
    --accent-lab01-color: #E3C000;
    --linearPrimary-lab01-color: linear-gradient(180deg, #C7F4F7 0.03%, #D1F4F6 30.21%, #E5F4F5 85.42%, #37D6F8 96.5%, #00CCF9 100%);

    --primary02-lab01-color: #31AA5230;
    --linearPrimary02-lab01-color: linear-gradient(180deg, #ffda37 5%, #967801 100%);

    --accent-XMEye-color: #386FFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-lab01-color);
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Ag */
.Ag
{
    width: 100%;
    height: 100%;
    padding: 0px 60px;
    background: var(--linearPrimary02-lab01-color);

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.Ag__title {
    width: 100%;
    margin: 300px 0px 100px;

    font-size: 120px;
    font-weight: 700;

    display: flex;
    justify-self: left;
}

.Ag__content{
    width: 100%;
    font-size: 65px;
    letter-spacing: 4px;
}

/* form */
.Ag__form {
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 150px;
}

.Ag__inputBox__fill {
    width: 100%;
    padding: 30px 40px;
    margin-bottom: 50px;
    background: #cccccc80;
    border: 1px solid #fff;
    display: flex;
}

.Ag__inputBox__fill__icon {
    margin-right: 40px;
    font-size: 56px;
}

.Ag__inputBox__fill input {
    height: 100%;
    background: transparent;
    border: none;

    font-size: 50px;
    font-weight: 100;

    flex: 1;
}

.Ag__inputBox__fill input:focus {
    outline: none;
}

.Ag__inputBox__fill input::placeholder {
    color: var(--secondary-lab01-color);
    opacity: 0.8;
}

.Ag__inputBox__fill__hiden i {
    font-size: 60px;
    opacity: 0.8;
}

.Ag__buttonStyle {
    width: 100%;
    height: 140px;
    margin-top: 60px;
    background: var(--secondary-lab01-color);
    border: none;

    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

/* controll bar */
.controll {
    height: 100px;
    width: 100%;
    background: #26323880;

    font-size: 64px;

    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.controll .button {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
